---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import Button from "../ui/Button.astro";

interface Props {
  project: CollectionEntry<"projects">;
}

const { project } = Astro.props;
---

<article class="col-span-12 reveal-fx">
  <div
    class="md:grid grid-cols-12 items-center border-2 bg-whitegreen-100 dark:bg-black-500 shadow-custom dark:shadow-custom-d tilt will-change-transform"
  >
    <div class="col-span-7 p-4 xs:p-10">
      <Image
        src={project.data.image as ImageMetadata}
        width={750}
        height={750 / 1.5}
        alt={project.data.image_alt}
        class="border-2"
        format={"webp"}
      />
    </div>

    <div class="prose dark:prose-dark dark:prose-a:text-whitegreen-500 col-span-5 pb-6 xs:px-10">
      <!-- <p class="mb-1 text-sm font-bold text-orange-500">
        <span class="mr-2"> Vorgestelltes Projekt</span>
      </p> -->
      <h3 class="mt-0 mb-5 text-2xl xs:text-4xl md:text-5xl font-black">
        {project.data.title}
      </h3>
      <p>{project.data.description}</p>
      <Button
        classAppend="text-xs xs:text-base"
        href={`/projekte/${project.slug}`}
        variant="secondary"
      >
        Projekt anzeigen
      </Button>
    </div>
  </div>
</article>
