---
import Container from "@/components/ui/Container.astro";
import Layout from "@/layouts/PageLayout.astro";

const meta = {
  title: "AGB",
  description: "Home page description",
};
---

<Layout {meta}>
  <Container>
    <h1 class="col-span-12 md:mb-16 text-center text-xl xs:text-2xl md:text-7xl">
      Allgemeine Geschäftsbedingungen von Jörg Schöneburg – Web Design &amp; Web Entwicklung
    </h1>

    <div class="col-span-12 prose prose-h3:text-xl prose-h3:md:text-3xl max-w-none">
      <h3 class="no-background">§1.Allgemeines</h3>
      <p>
        1.1. Ich erbringe Dienstleistungen gegenüber dem Auftraggeber ausschließlich auf Grundlage
        dieser Geschäftsbedingung.
      </p>
      <p>
        1.2. Abweichende Bedingungen zwischen den Parteien sind nur gültig, sofern sie schriftlich
        festgehalten werden.
      </p>
      <p>
        1.3. Diese AGB gilt zudem für künftige Geschäftsbeziehungen, Dienstleistungen und
        Folgeaufträge. Maßgeblich ist jeweils die zum Zeitpunkt des Vertragsschlusses gültige
        Fassung.
      </p>
      <hr style="width: 1px;color: #ffffff;border: 1px solid #CCCCCC" />
      <h3>§2.Vertragsabschluss</h3>
      <p>
        2.1. Alle Angebote sind freibleibend. Vertragsabschlüsse und sonstige Vereinbarungen werden
        erst nach schriftlicher oder mündlicher Bestätigung verbindlich.
      </p>
      <h3>§3.Vertragsannahme</h3>
      <p>
        3.1. Ich bestätige den Zugang des Auftrages unverzüglich. Diese Bestätigung stellt jedoch
        noch keine verbindliche Annahme des Auftrags dar.
      </p>
      <p>
        3.2. Das Vertragsverhältnis mit dem Auftragnehmer kommt erst mit Zahlungseingang einer
        Abschlagszahlung von 15% der Auftragssumme zustande, zu der Sie nach der Auftragsbestätigung
        durch mich aufgefordert werden, sowie durch das Einverständnis von mir oder mit der ersten
        Erfüllungshandlung.
      </p>
      <p>
        3.3. Der Auftragnehmer behält sich eine Ablehnung von Aufträgen aus bestimmten Gründen vor.
        Diese lauten:
      </p>
      <p>
        1.&nbsp; Die auf der Webseite angegebenen Formatanforderungen wurden nicht eingehalten oder
        die gelieferten Daten unterscheiden sich von den bei der Anbahnung des Geschäfts gemachten
        Angaben (speziell bei Design zu HTML).
      </p>
      <p>
        2.&nbsp; Eine Umsetzung ist aufgrund der Qualität oder Ausgestaltung der gelieferten Daten
        nicht möglich (speziell bei Design zu HTML).
      </p>
      <p>
        3.&nbsp; Die Abschlagszahlung i.H.v. 15 Prozent der Gesamtsumme wurde nicht oder nicht in
        der richtigen Höhe gezahlt oder durch einen Intermediär (z.B. Kreditinstitut) zurückgezogen
        bzw. als ungesichert qualifiziert.
      </p>
      <h3>§4.Lieferung und Verzug</h3>
      <p>
        4.1. Ich verpflichte mich alle vertraglich abgeschlossene Dienstleistungen frist- und
        termingerecht zu erfüllen, soweit dies nicht durch unvorhergesehene Umstände (wie zum
        Beispiel höhere Gewalt, Störung der Kommunikationswege oder Informationsverzögerung seitens
        des Aufraggebers) unmöglich ist.
      </p>
      <p>
        4.2. Der Ablauf bestimmter Terminvereinbarungen befreit den Auftraggeber nicht von der
        Setzung einer angemessenen Frist, bevor er vom Vertrag zurücktreten oder Schadenersatz wegen
        Nichterfüllung verlangen will.
      </p>
      <p> 4.3. Teilausführungen des Auftrages in zumutbarem Umfang sind zulässig.</p>
      <p>
        4.4. Im Falle höherer Gewalt und sonstiger unvorhersehbarer, außergewöhnlicher und
        unverschuldeter Umstände verlängert sich die Lieferfrist in angemessenem Umfang.
      </p>
      <p>
        4.5. Die Webseite www.jswebschmiede.de wird regelmäßig aktualisiert. Ich behalte mir
        Preisänderungen und Änderungen am Produktangebot ausdrücklich vor. Zu einem früheren
        Zeitpunkt gemachte Angaben diesbezüglich verlieren ihre Gültigkeit.
      </p>
      <h3>§5.Datenschutz, Information- und Stillschweigepflicht</h3>
      <p>
        5.1. Der Auftraggeber stellt alle notwendigen Informationen zur Verfügung, soweit diese zur
        Erfüllung des Auftrages notwendig sind.
      </p>
      <p>
        5.2. Ich verpflichte mich zum Stillschweigen hinsichtlich aller erhaltenen Informationen
        seitens des Auftraggebers.
      </p>
      <p>
        5.3. Der Auftraggeber willigt ein, dass zu Zwecken der Durchführung des Vertrages Daten über
        ihn gespeichert, geändert, gelöscht und eventuell an Dritte übermittelt werden können.
      </p>
      <h3>§6.Vergütung, Zahlung</h3>
      <p>
        6.1. Die von mir genannten Preise sind Endpreise ohne MwSt., da alle von mir erbrachten
        Leistungen nach §19 UStG von der Umsatzsteuer befreit sind.
      </p>
      <p>
        6.2. Die Bezahlung der Dienstleistungen findet, je nach Auftragsart auf folgenden Wegen
        statt:
      </p>
      <p> – zum ganzen Teil vor Beginn der Auftragserfüllung (10% Nachlass).</p>
      <p>
        – 50 % wenn das Projekt zur hälfte fertig gestellt ist (gerechnet vom Zeitpunkt der
        Auftragsgebung), 50 % bei Fertigstellung – bzw. bei Übergabe des Projektes (5% Nachlass).
      </p>
      <p>– eine monatliche Pauschale/Rate je nach Vereinbarung</p>
      <p>– zum ganzen Teil zum Ende der Auftragserfüllung</p>
      <p>
        6.3. Es werden bei Projektbeginn 15% des Gesamtbetrages fällig, wenn nicht anders mit dem
        Auftraggeber abgesprochen.
      </p>
      <p>
        6.4. Der Auftraggeber hat beim Lastschriftverfahren auf Deckung des betroffenen Kontos zu
        achten.
      </p>
      <p>
        6.5. In dem Fall, dass eine Zahlung nach Erbringung der vollständigen oder teilweisen
        Leistung ganz oder teilweise durch den Auftraggeber oder einen Finanzdienstleister oder
        Zahlungsvermittler zurückgezogen wird, erhebt der Auftragnehmer eine Bearbeitungsgebühr
        i.H.v. 25 Euro und hat das Recht aus der Rückbuchung entstehende Gebühren oder Kosten vom
        Auftraggeber einzufordern. Die Ansprüche aus dem Vertragsverhältnis bleiben hiervon
        unberührt und sind innerhalb einer Frist von 10 Werktagen zu begleichen. Sollten die
        Zahlungsansprüche nicht innerhalb dieser Frist beglichen werden, behält sich der
        Auftragnehmer das Recht vor vom Vertragsverhältnis zurückzutreten oder die
        Leistungserstellung unverzüglich zu unterbrechen.
      </p>
      <p>
        6.6. Bei Nichtbegleichung einer Schuld innerhalb der in IV. 6 genannten Frist entstehen
        unter Umständen zusätzliche Kosten (z.B. Mahn- und Bearbeitungsgebühren), die dem
        Auftraggeber in Rechnung gestellt werden.
      </p>
      <h3>§7.Eigentumsvorbehalt</h3>
      <p> 7.1. Die Ware bleibt mein Eigentum bis zur Zahlung sämtlicher Forderungen.</p>
      <p>
        7.2. Bei vertragswidrigem Verhalten des Bestellers oder bei Zahlungsverzug, bin ich zum
        Rücktritt berechtigt.
      </p>
      <p>
        7.3. Wird das Fälligkeitsdatum einer Rechnung um mehr als 30 Tage überschritten, bin ich
        berechtigt, sämtliche erbrachte Dienstleistungen bis zur Zahlung zu sperren. Eine
        Rückvergütung der Ausfallzeit sowie entstandenen zusätzlichen Kosten des Auftraggeber findet
        nicht statt.
      </p>
      <h3>§8.Überlassene Unterlagen</h3>
      <p> 8.1. An allen in Zusammenhang mit der Auftragserteilung dem Auftraggeber überlassenen</p>
      <p>
        Unterlagen, wie z. B. Kalkulationen, Zeichnungen etc., behalten ich mir Eigentums- und
        Urheberrechte vor. Diese Unterlagen dürfen Dritten nicht zugänglich gemacht werden, es sei
        denn, ich erteile dazu dem Auftraggeber meine ausdrückliche schriftliche Zustimmung.
      </p>
      <h3>§9.Geheimhaltungsvereinbarung</h3>
      <p>
        Der Auftragnehmer verpflichtet sich für die Dauer eines Vertragsverhältnisses und nach
        dessen Beendigung über sämtliche vom Auftraggeber übermittelte Daten Stillschweigen zu
        bewahren. Der hat im Rahmen der Pflichterfüllung die Möglichkeit ihr zur Vertragserfüllung
        anvertraute Daten an Dritte weiterzugeben, sofern sie in einem Vertragsverhältnis zu dem
        Auftragnehmer stehen. Dies gilt nur, wenn im Rahmen des Vertragsverhältnisses ebenfalls eine
        Verschwiegenheitspflicht besteht, für die der Auftragnehmer persönlich Sorge zu tragen hat.
      </p>
      <h3>§10. Vertragsdauer, Kündigungsfristen</h3>
      <p>
        10.1. Domains, Webspace, Wartungs- und Supportverträge (im Folgenden Daueraufträge genannt)
        haben, wenn nicht anders festgelegt, eine unbefristete Laufzeit.
      </p>
      <p>
        10.2. Daueraufträge verlängern sich automatisch um ein weiteres Monat, wenn der Auftrag
        nicht spätestens zwei Wochen vor Ablauf gekündigt wird.
      </p>
      <h3>§11. Eigenwerbung und Referenzen</h3>
      <p>
        11.1. Der Auftragnehmer platziert einen textbasierten Link auf der Startseite oder Impressum
        der erstellten Webseite des Auftraggebers. Im Format: Jörg Schöneburg – Webdesign und
        Webentwicklung (info(at)joerg-schoeneburg.de) dessen Webseite joerg-schoeneburg.de, soweit
        nicht anders vereinbart. Soweit nicht anders vereinbart, behalte ich mir das Recht vor, die
        erstellten Internetseiten als Referenz auf der Webseite http://joerg-schoeneburg.de
        aufzuführen.
      </p>
      <p>
        11.2. Bei Design zu HTML wird nirgendwo in Ihrem Quelltext oder auf der Webseite erkennbar
        sein, dass ich diese erstellt habe. Jedoch können Sie mir einen Gefallen tun, indem Sie ein
        Link zu mir im Impressum einsetzen.
      </p>
      <h3>§12. Mängel und Gewährleistung</h3>
      <p>
        12.1. Der Auftraggeber hat die in Empfang genommene Ware unverzüglich nach Eintreffen bzw.
        Fertigstellung auf Fehler, Mängel, Funktionsweiße und zugesicherte Eigenschaften zu
        überprüfen. Offensichtliche Mängel hat er innerhalb von zwei Wochen schriftlich zu melden.
      </p>
      <p>
        12.2. Bei berechtigten Beanstandungen erfolgt durch mich Nachbesserung oder Ersatzlieferung.
      </p>
      <p>
        12.3. Durch, seitens des Käufers oder Dritter, unsachgemäß vorgenommene Eingriffe,
        Änderungen, Erweiterungen und Instandsetzungsarbeiten wird die Haftung aufgehoben.
      </p>
      <p>
        12.4. Bei gelieferter Ware werden nur die Garantieleistungen und Mängelleistungen des
        Herstellers gewährleistet.
      </p>
      <h3>§13. Haftung und allgemeine Haftungsbegrenzung</h3>
      <p>
        13.1. Die Haftung richtet sich ausschließlich nach den AGB. Schadenersatzansprüche aus
        Verzug, Unmöglichkeit der Leistung, Verletzung von vertraglichen Nebenpflichten, Verschulden
        nach Vertragsabschluss und aus grob fahrlässiger bzw. vorsätzlicher Handlung des
        Auftraggeber sind ausgeschlossen.
      </p>
      <p>
        13.2. Bei Domainregistrierungen und vom Auftraggeber bereitgestellte Daten wie Texte und
        Bilder prüfe ich nicht die Kollision bzw. Verletzung mit Marken-, Namens- und sonstiger
        Rechte Dritter.
      </p>
      <p> 13.3. Ich übernehme keine Prüfpflicht seitens des Auftraggeber gelieferter Inhalte.</p>
      <p> 13.4. Ich übernehme keine Haftung für Verdienstausfall und Folgeschäden.</p>
      <p>
        13.5. Die Haftung über verlorengegangene Daten und Programme liegt, soweit nichts anderes
        ausgemacht, beim Auftraggeber.
      </p>
      <h3>§14. Widerrufsbelehrung</h3>
      <p>
        Wenn Sie eine natürliche Person sind und Produkte oder Serviceleistungen zu einem Zweck
        erwerben, der weder ihrer gewerblichen noch ihrer selbständigen beruflichen Tätigkeit
        zugerechnet werden kann, haben Sie das folgende gesetzliche Widerrufsrecht: Sie können Ihre
        Vertragserklärung innerhalb von zwei Wochen ohne Angabe von Gründen in Textform (z. B.
        Brief, Fax, E-Mail) widerrufen. Die Frist beginnt nach Erhalt dieser Belehrung in Textform,
        jedoch nicht vor Vertragsschluss und auch nicht vor Erfüllung meiner Informationspflichten
        gemäß § 312c Abs. 2 BGB in Verbindung mit § 1 Abs. 1, 2 und 4 BGB-InfoV sowie meiner
        Pflichten gemäß § 312e Abs. 1 Satz 1 BGB in Verbindung mit § 3 BGB-InfoV. Zur Wahrung der
        Widerrufsfrist genügt die rechtzeitige Absendung des Widerrufs.
      </p>
      <p><strong>Der Widerruf ist zu richten an:</strong></p>
      <p>
        Jörg Schöneburg – Web Design &amp; Web Entwicklung<br />
         Herrn Jörg Schöneburg<br />
         Heinrich-Heine-Str.34<br />
         04600 Altenburg<br />
         Deutschland
      </p>
      <p><strong>Widerrufsfolgen</strong></p>
      <p>
        Im Falle eines wirksamen Widerrufs sind die beiderseits empfangenen Leistungen
        zurückzugewähren und ggf. gezogene Nutzungen (z. B. Zinsen) herauszugeben. Dies kann dazu
        führen, dass Sie die vertraglichen Zahlungsverpflichtungen für den Zeitraum bis zum Widerruf
        gleichwohl erfüllen müssen. Verpflichtungen zur Erstattung von Zahlungen müssen innerhalb
        von 30 Tagen erfüllt werden. Die Frist beginnt für Sie mit der Absendung Ihrer
        Widerrufserklärung, für mich mit deren Empfang.
      </p>
      <p><strong>Erlöschen des Widerrufsrechts</strong></p>
      <p>
        Sofern Gegenstand des Vertrages (auch) eine Dienstleistung ist, erlischt ihr Widerrufsrecht
        vorzeitig, wenn der Vertrag von beiden Seiten auf Ihren ausdrücklichen Wunsch vollständig
        erfüllt ist, bevor Sie Ihr Widerrufsrecht ausgeübt haben.
      </p>
      <p><strong>Sonstiges</strong></p>
      <p>
        Ein Widerrufsrecht besteht nach den gesetzlichen Vorgaben unter anderem nicht bei –
        Lieferung von Produkten oder Dienstleistungen, die nach Auftraggeberspezifikationen
        angefertigt werden oder eindeutig auf die individuellen Bedürfnisse zugeschnitten sind und
        es dem Auftragnehmer wirtschaftlich vertretbarem Aufwand möglich ist die Bestandteile der
        Ware wieder in den Zustand zu versetzen, den sie vor der Zusammenstellung des Produkts
        hatte.
      </p>
      <h3>§15. Rückzahlungsanspruch</h3>
      <p>
        Die 15% Anzahlung kann nicht zurückgezahlt werden, wenn ich die Arbeit bereits begonnen
        habe. Sie erhalten Ihr Geld vollständig zurück wenn Sie einen Auftrag stornieren, bevor ich
        die Umsetzung Ihres Projekts begonnen habe. Ich verzichte auf die Restzahlung wenn Sie mit
        der Qualität der Arbeit nicht einverstanden sind. Ich behalte mir das Recht vor den Wunsch
        nach Rückzahlung bzw. Nichtzahlung abzulehnen, wenn wichtige Tatsachen dafür sprechen, dass
        die Nachfrage unbegründet ist.
      </p>
      <h3>§16. Schlussbestimmungen, Erfüllungsort, Änderungen</h3>
      <p>Erfüllungsort ist 04600 Altenburg, Deutschland.</p>
      <p>
        Für den Vertrag ist das Recht der Bundesrepublik Deutschland maßgebend. Bei Ungültigkeit von
        einem oder mehreren Punkten dieser Bedingungen behalten die Übrigen ihre Gültigkeit. Ich
        behalte es mir vor, diese Allgemeinen Geschäftsbedingungen jederzeit unter Wahrung einer
        angemessenen Ankündigungsfrist von mindestens zwei Wochen zu ändern.
      </p>
      <h3>§17. Salvatorische Klausel</h3>
      <p>
        Sollten einzelne Bestimmungen dieses Vertrages unwirksam oder undurchführbar sein bzw. nach
        Vertragsschluss unwirksam oder undurchführbar werden, so wird dadurch die Wirksamkeit des
        Vertrags im Übrigen nicht berührt. Anstelle der unwirksamen oder undurchführbaren Bestimmung
        soll diejenige wirksame und durchführbare Regelung treten, deren Wirkungen der
        wirtschaftlichen Zielsetzung möglichst nahe kommen, die die Vertragsparteien mit der
        unwirksamen beziehungsweise undurchführbaren Bestimmung verfolgt haben. Die vorstehenden
        Bestimmungen gelten also entsprechend für den Fall, dass sich der Vertrag als lückenhaft
        erweist.
      </p>
      <p><strong>Rechtliche Information des Anbieters</strong></p>
      <p>
        Jörg Schöneburg – Web Design &amp; Web Entwicklung<br />
         Herrn Jörg Schöneburg<br />
         Heinrich-Heine-Str.34<br />
         04600 Altenburg<br />
         Deutschland
      </p>
      <p>
        Finanzamt Altenburg<br />
         Steuernummer: 166 / 271 / 05901
      </p>
    </div>
  </Container>
</Layout>
