---
import { Image } from '@astrojs/image/components';
import Layout from '@/layouts/PageLayout.astro';

const meta = {
    title: 'AGB',
    description: 'Home page description'
};
---

<Layout {meta}>
    <div class='container grid max-w-6xl items-center gap-12 py-32'>
        <h1 class='mb-16 text-center'>AGB</h1>
    </div>
</Layout>
