---
import Layout from "@/layouts/PageLayout.astro";
import Container from "@/components/ui/Container.astro";

const meta = {
  title:
    "Impressum - Jörg Schöneburg - Full-Stack Entwickler | Rechtliche Informationen und Kontakt",
  description: "rechtliche Informationen und Kontaktmöglichkeiten.",
};
---

<Layout {meta}>
  <Container>
    <h1 class="col-span-12 md:mb-16 text-center text-xl xs:text-2xl md:text-7xl">Impressum</h1>

    <div class="col-span-12 prose prose-h3:text-xl prose-h3:md:text-3xl max-w-none dark:prose-dark">
      <h3><strong>Copyright und Rechtskram</strong></h3>
      <p>
        Inhaltlich Verantwortlicher gemäß § 10 Absatz 3 MDStV:<br />
         Jörg Schöneburg<br />
         Steuernummer: 166/271/05901
      </p>
      <p> Alle von mir erbrachten Leistungen sind nach § 19 UStG von der Umsatzsteuer befreit.</p>
      <h3>Copyright</h3>
      <p>
        Die Rechte an Konzept und Inhalten dieser Website liegen ausschließlich bei mir.<br />
         Copyright © 2012 ff. by Jörg Schöneburg
      </p>
      <h4>Adresse</h4>
      <p>
        Jörg Schöneburg<br />
         Heinrich-Heine-Str.34<br />
         04600 Altenburg<br />
         Telefon.: 03447 – 487890<br />
         Fax: 0 32 22 – 1448 159<br />
         E-mail.:&nbsp;<span
          data-obfuscate-email
          data-username="info"
          data-domain="joerg-schoeneburg.de"></span>
      </p>
      <h3>Quellenangaben für die verwendeten Bilder und Grafiken</h3>
      <p>
        Diverse Grafiken / Icons<br />
         Jörg Schöneburg
      </p>

      <h3>Haftungsausschluss</h3>
      <h4>Haftung für Inhalte</h4>
      <p>
        Die Inhalte meiner Seiten wurden mit größter Sorgfalt erstellt. Für die Richtigkeit,
        Vollständigkeit und Aktualität der Inhalte kann ich jedoch keine Gewähr übernehmen. Als
        Diensteanbieter bin ich gemäß § 7 Abs.1 TMG für eigene Inhalte auf dieser Seite nach den
        allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG bin ich als Diensteanbieter jedoch
        nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder
        nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen.
      </p>
      <p>
        Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den
        allgemeinen Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst
        ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden
        von entsprechenden Rechtsverletzungen werden ich diese Inhalte umgehend entfernen.
      </p>
      <h4>Haftung für Links</h4>
      <p>
        Unser Angebot enthält Links zu externen Webseiten Dritter, auf deren Inhalte ich keinen
        Einfluss habe. Deshalb kann ich für diese fremden Inhalte auch keine Gewähr übernehmen. Für
        die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seite
        verantwortlich.
      </p>
      <p>
        Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße
        überprüft. Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar. Eine
        permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete
        Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von
        Rechtsverletzungen werde ich derartige Links umgehend entfernen.
      </p>
      <h3>Urheberrecht</h3>
      <p>
        Die durch den Seitenbetreiber erstellten Inhalte und Werke auf dieser Seite unterliegen dem
        deutschen Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der
        Verwertung außerhalb der Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung
        des jeweiligen Autors bzw. Erstellers.
      </p>
      <p>
        Downloads und Kopien dieser Seite sind nur für den privaten, nicht kommerziellen Gebrauch
        gestattet. Soweit die Inhalte auf dieser Seite nicht vom Betreiber erstellt wurden, werden
        die Urheberrechte Dritter beachtet. Insbesondere werden Inhalte Dritter als solche
        gekennzeichnet. Sollten Sie trotzdem auf eine Urheberrechtsverletzung aufmerksam werden,
        bitte ich Sie um einen entsprechenden Hinweis. Bei Bekanntwerden von Rechtsverletzungen
        werden ich derartige Inhalte umgehend entfernen.
      </p>
    </div>
  </Container>
</Layout>
