---
import { Icon } from "astro-icon";
import Layout from "@/layouts/PageLayout.astro";
import ContactItem from "@/components/ui/ContactItem.astro";
import Container from "@/components/ui/Container.astro";

const meta = {
  title: "Kontakt",
  description: "Home page description",
};
---

<Layout {meta}>
  <article class="reveal-fx">
    <Container>
      <h1 class="col-span-12 text-center">Kontakt</h1>
      <div class="col-span-6 col-start-4 max-w-3xl">
        <ul>
          <ContactItem
            icon="mdi:map-outline"
            title="Adresse"
            text="Heinrich-Heine-Straße 34, 04600 Altenburg"
          />
          <ContactItem
            icon="mdi:email-outline"
            title="E-Mail"
            isMail={true}
            text="info@joerg-schoeneburg.de"
          />

          <ContactItem icon="mdi:phone-outline" title="Telefon" text="03447-487890" />
        </ul>
      </div>
    </Container>
  </article>
</Layout>
