---
import { getCollection } from "astro:content";
import Layout from "@/layouts/PageLayout.astro";
import ProjectFeatured from "@/components/projects/ProjectFeatured.astro";
import Project from "@/components/projects/Project.astro";
import Container from "@/components/ui/Container.astro";

const meta = {
  title: "Jörg Schöneburg - Full-Stack Entwickler in Altenburg | Projektübersicht",
  description: "Projekte die ich erfolgreich umgesetzt habe.",
};

const allProjects = await getCollection("projects");

// sort projects by isFeatured
allProjects.sort((a, b) => (a.data.isFeatured < b.data.isFeatured ? 1 : -1));
---

<Layout {meta}>
  <Container className="projects pb-16">
    <h1 class="mb-0 text-center col-span-12">Projekte</h1>
    <h3 class="-mt-8 mb-16 text-center col-span-12">Eine Auswahl meiner bisherigen Projekte</h3>
    {
      allProjects.map((project, index) =>
        index === 0 || index % 3 === 0 ? (
          <ProjectFeatured project={project} />
        ) : (
          <Project project={project} />
        ),
      )
    }
  </Container>
  <!-- <nav class="flex justify-center pb-16" data-no-swup>
    <Button classAppend="ajax-load-more" href="#">Mehr Projekte</Button>
  </nav> -->
</Layout>
