---
import { getCollection } from "astro:content";
import Layout from "@/layouts/PageLayout.astro";
import ProjectFeatured from "@/components/projects/ProjectFeatured.astro";
import Project from "@/components/projects/Project.astro";
import Container from "@/components/ui/Container.astro";
import Button from "@/components/ui/Button.astro";

const meta = {
  title: "Projekte",
  description: "Home page description",
};

const allProjects = await getCollection("projects");

// sort projects by isFeatured
allProjects.sort((a, b) => (a.data.isFeatured < b.data.isFeatured ? 1 : -1));
---

<Layout {meta}>
  <Container>
    <h1 class="mb-16 text-center col-span-12">Projekte</h1>
    {
      allProjects.map((project, index) =>
        index === 0 || index % 3 === 0 ? (
          <ProjectFeatured project={project} />
        ) : (
          <Project project={project} />
        ),
      )
    }

    <!-- <nav data-no-swup><Button classAppend="ajax-load-more" href="#">Mehr Projekte</Button></nav> -->
  </Container>
</Layout>
