---
import { getCollection } from "astro:content";
import Layout from "@/layouts/PageLayout.astro";
import ProjectFeatured from "@/components/projects/ProjectFeatured.astro";
import Project from "@/components/projects/Project.astro";
import Container from "@/components/ui/Container.astro";

const meta = {
  title: "Projekte",
  description: "Home page description",
};

const allProjects = await getCollection("projects");
---

<Layout {meta}>
  <Container>
    <h1 class="mb-16 text-center col-span-12">Projekte</h1>
    {
      allProjects.map((project) =>
        project.data.isFeatured ? (
          <ProjectFeatured project={project} />
        ) : (
          <Project project={project} />
        ),
      )
    }
  </Container>
</Layout>
