---
import { Image } from "astro:assets";
import rectangle from "@/assets/rectangle.svg";
import NavBar from "./NavBar.astro";
import MobileNav from "./MobileNav.astro";
---

<header
  id="masthead"
  class="main-header z-1 relative z-10 flex w-full items-center justify-between pt-14"
>
  <div class="container relative flex w-full max-w-6xl items-center justify-between">
    <Image
      src={rectangle as any}
      class="absolute -top-14 right-9 md:right-auto md:left-80 -z-[1] w-28 md:w-auto"
      alt=""
      aria-hidden="true"
    />
    <NavBar />
  </div>

  <MobileNav />
</header>
