---
import { SITE } from "@/config";
import Button from "../Button.astro";

const navItems = SITE.links;
---

<div
  id="mobile-nav"
  class="sm:min-w-[75vw] min-w-[90vw] hidden justify-between items-center flex-col fixed top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 py-32 bg-black-500/90 dark:bg-whitegreen-800/90 rounded-lg z-10 backdrop-blur-md"
>
  <nav class="flex items-center justify-center flex-col">
    <ul class="space-y-4 font-bold uppercase flex flex-col text-center">
      {
        navItems.map((item) => (
          <li>
            <a
              href={item.href}
              class="group relative text-whitegreen-100 dark:text-black-900 font-normal text-lg flex items-center justify-center"
              data-astro-prefetch
            >
              <span
                class={`absolute -bottom-1 inset-x-auto inline-block duration-300 h-[3px] transition-[width] group-hover:w-5`}
              >
                &nbsp;
              </span>
              {item.name}
            </a>
          </li>
        ))
      }
    </ul>

    <Button classAppend="max-h-10 mt-12" href="/kontakt">Kontakt</Button>
  </nav>
</div>
