---
import { twMerge } from "tailwind-merge";
interface Props {
  href: string;
  title?: string;
  classAppend?: string;
  target?: "_blank" | "_self" | "_parent" | "_top";
  variant?: "primary" | "secondary";
  download?: string;
}

const { href, title, classAppend, download, variant = "primary", target = "" } = Astro.props;
---

{
  variant === "primary" ? (
    <a
      href={href}
      class:list={twMerge([
        "inline-flex items-center justify-center border-2 border-black-500 dark:border-whitegreen-600 bg-orange-500 px-7 py-3 font-bold uppercase shadow-custom dark:shadow-custom-d transition-shadow duration-200 ease-in-out hover:shadow-none hover:dark:shadow-none",
        classAppend,
      ])}
      title={title}
      {...(target ? { target: target } : {})}
      {...(download ? { download: download } : {})}
    >
      <slot />
    </a>
  ) : (
    <a
      href={href}
      class:list={twMerge(["group flex items-center font-bold uppercase underline", classAppend])}
      title={title}
    >
      <slot />
      <svg
        class="ml-2 text-black-500 dark:text-whitegreen-500 transition-all duration-300 will-change-transform group-hover:translate-x-1"
        width="27"
        height="28"
        viewBox="0 0 27 28"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M4.18826 17.6971C4.19028 17.6781 4.1961 17.6595 4.20362 17.643C4.20694 17.6299 4.21025 17.6168 4.21187 17.6016C4.22004 17.5429 4.22481 17.48 4.22918 17.4209C4.23493 17.2044 4.23688 16.9875 4.22363 16.769C4.20722 16.5982 4.17901 16.43 4.1449 16.263C4.0644 15.9182 3.95819 15.5803 3.85998 15.2394C3.78626 14.9933 3.72225 14.7463 3.65233 14.5007C3.59009 14.2731 3.54346 14.0434 3.48922 13.8128C3.44177 13.5906 3.39223 13.3702 3.35069 13.1467C3.28878 12.8078 3.22515 12.4667 3.17334 12.123C3.12372 11.795 3.09181 11.463 3.09449 11.1309C3.09742 10.8507 3.13566 10.5455 3.26615 10.2942C3.39664 10.043 3.58436 9.84971 3.86335 9.77373C4.06731 9.71666 4.29828 9.74892 4.50515 9.77286C4.75381 9.80125 5.00126 9.84101 5.25041 9.8829C5.25041 9.8829 5.24661 9.88249 5.2445 9.88419C5.31629 9.89567 5.3843 9.90677 5.45398 9.91995C5.45188 9.92164 5.44807 9.92124 5.44637 9.91914C5.92188 10.0005 6.4037 10.0767 6.88405 10.1125C7.38551 10.1486 7.88649 10.1711 8.38495 10.1992C9.42029 10.2556 10.4554 10.3504 11.4822 10.4866C12.2836 10.593 13.0825 10.7049 13.883 10.8189C14.3053 10.8773 14.7267 10.9433 15.1501 10.9903C15.3667 11.0133 15.5812 11.0381 15.796 11.059C15.986 11.0792 16.1797 11.0825 16.3747 11.0918C16.4304 11.0919 16.4823 11.0917 16.5359 11.0936C16.4919 10.9659 16.4461 10.8361 16.4042 10.7068C16.3357 10.5016 16.2832 10.2905 16.2245 10.0844C16.1622 9.85683 16.0924 9.62844 16.0263 9.40047C15.9383 9.16246 15.8516 8.93035 15.7395 8.70133C15.654 8.54813 15.5639 8.40214 15.4679 8.25743C15.4177 8.18678 15.3676 8.1161 15.3175 8.04545C15.2822 7.9975 15.247 7.94958 15.2118 7.90164C15.1701 7.84149 15.1285 7.78133 15.0894 7.71569C15.057 7.65845 15.0369 7.59484 15.0147 7.53291C14.9655 7.39896 15.0061 7.2342 15.0854 7.12159C15.1755 6.9967 15.3128 6.93446 15.4638 6.92364C15.6342 6.91103 15.7717 6.99099 15.9193 7.06625C16.0251 7.11978 16.1308 7.17328 16.2365 7.22681C16.4353 7.32673 16.6341 7.42667 16.8283 7.53379C17.2547 7.76938 17.6619 8.04134 18.0762 8.30061C18.7803 8.72522 19.4987 9.12444 20.2124 9.53086C20.58 9.74098 20.9373 9.97688 21.289 10.2103C21.6069 10.419 21.9222 10.6331 22.2426 10.8363C22.4021 10.9263 22.5616 11.0163 22.7211 11.1062C22.8933 11.2033 23.0709 11.2856 23.246 11.3734C23.4156 11.4587 23.5856 11.5402 23.7556 11.6217C23.9383 11.7103 24.1164 11.8061 24.2919 11.9074C24.4942 12.0289 24.6928 12.1672 24.8047 12.3789C24.8864 12.5317 24.9101 12.7245 24.8463 12.8906C24.7959 13.0216 24.7005 13.1229 24.6039 13.2183C24.475 13.3467 24.3482 13.4735 24.2226 13.6062C23.9673 13.8749 23.7107 14.1377 23.4639 14.4169C23.3594 14.5499 23.2588 14.6832 23.1636 14.8191C23.0659 14.9605 22.9755 15.1065 22.885 15.2525C22.8963 15.2364 22.906 15.2182 22.9194 15.2005C22.6828 15.5999 22.4543 15.9963 22.1602 16.3589C21.8992 16.6808 21.6039 16.9818 21.3197 17.2877C21.1896 17.4449 21.0536 17.6033 20.9307 17.7651C20.7827 17.9645 20.6368 18.1622 20.4871 18.3596C20.3306 18.5658 20.1704 18.7716 20.0139 18.9778C19.8554 19.1857 19.6787 19.384 19.5113 19.5853C19.3724 19.753 19.2297 19.9203 19.087 20.0877C18.9687 20.2422 18.8525 20.3951 18.7347 20.5459C18.6319 20.6809 18.5419 20.8231 18.448 20.9649C18.2171 21.3112 18.004 21.6708 17.7659 22.0124C17.5659 22.3024 17.2464 22.6507 16.8572 22.5171C16.607 22.4309 16.4906 22.1707 16.5131 21.9233C16.5266 21.7422 16.6283 21.5628 16.7014 21.3996C16.7928 21.1903 16.8864 20.9793 16.9575 20.7621C16.9903 20.6522 17.0156 20.5416 17.037 20.4305C17.0545 20.3017 17.0662 20.1742 17.074 20.0463C17.0939 19.4087 17.0466 18.7696 17.0183 18.1326C17.0036 17.7833 16.9889 17.4339 16.9763 17.0829C16.9638 16.7492 16.9572 16.4142 16.9333 16.0793C16.9232 15.9937 16.9148 15.9102 16.8984 15.8297C16.8958 15.8179 16.8932 15.8061 16.8885 15.7959C16.8868 15.7938 16.8851 15.7917 16.8813 15.7913C16.8703 15.7863 16.861 15.7834 16.8517 15.7805C16.8162 15.771 16.7824 15.7635 16.747 15.754L16.7432 15.7536C16.7065 15.7554 16.6698 15.7573 16.6347 15.7612C16.3399 15.7875 16.0498 15.8239 15.7593 15.8814C15.4137 15.9695 15.0753 16.0622 14.7292 16.1368C14.3578 16.2144 13.9881 16.2942 13.6168 16.3719C13.6383 16.3684 13.6581 16.3628 13.6775 16.361C12.7088 16.5807 11.7462 16.8337 10.7798 17.069C9.80529 17.3073 8.83123 17.5418 7.852 17.7527C7.8541 17.751 7.8579 17.7514 7.8617 17.7518C7.58643 17.8109 7.30516 17.8539 7.0286 17.9071C6.76004 17.9573 6.4885 17.9995 6.21824 18.0476C5.9619 18.0914 5.70806 18.1297 5.45002 18.1714C5.28979 18.1966 5.13126 18.224 4.97313 18.2475C4.7876 18.2758 4.61014 18.3183 4.43334 18.2284C4.37498 18.1992 4.32924 18.1597 4.29189 18.1135C4.19222 18.003 4.16068 17.8478 4.18826 17.6971Z"
          fill="currentColor"
        />
      </svg>
    </a>
  )
}
