---
import { Image } from '@astrojs/image/components';
import rectangle from '@/assets/rectangle.svg';
import NavBar from './NavBar.astro';
---

<header
    id='masthead'
    class='main-header z-1 relative z-10 flex w-full items-center justify-between pt-14'>
    <div
        class='container relative hidden w-full max-w-6xl items-center justify-between lg:flex'>
        <Image
            class='absolute -top-14 left-72 -z-[1]'
            src={rectangle}
            alt=''
            aria-hidden='true'
        />
        <NavBar />
    </div>
</header>
